html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.gradient{
    background: rgb(255,0,0);
    /* background: linear-gradient(180deg, rgba(150,0,0,1) 0%, rgba(255,0,0,1) 35%, rgba(255,236,198,1) 100%); */
}

.page-header{
    margin-top: 3rem;
    font-size: 1.25rem;
    height:100%;
    /* color: #fff; */
}

.cont-header{
    height:100%;
    background: #8ff;
}

.item-header{
    /* background: #aff; */
    /* height:20rem;
     */
    height: 100%;
}

/* .card-header{
    height: 100%;
    background:#00f;
} */


.img-header{
    max-height:250px;
    width: auto;
    object-fit: scale-down;
}