:root{
    --deep-red: #8A1E19;
    --off-white: #fffbf2;
}

html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--off-white);

}

.gradient{
    /* background: #ff7e76; */
    /* background: linear-gradient(180deg, rgba(150,0,0,1) 0%, rgba(255,0,0,1) 35%, rgba(255,236,198,1) 100%); */
}

.page-header{
    /* margin-top: 3rem; */
    font-size: 1.25rem;
    min-height:100%;
    /* color: #fff; */
}

.cont-header{
    height:100%;
}

.img-header{
    height:225px;
    width: auto;
    object-fit:cover;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.navbar{
    background: var(--deep-red);
}

.custom-navlink{
    color: var(--off-white) !important;
    /* color:blue !important; */
}

navbar-brand > h1{
    margin-bottom:0;
    padding-bottom:0;
}

#my-brand{
    align-items: center;
    color:var(--off-white) !important;
}

.custom-card{
    border-color: var(--deep-red) !important;
}

.custom-card > .card-body{
    background-color: var(--off-white);
    border-color: var(--deep-red) !important;
}

.custom-card div h5{
    border-color: var(--deep-red) !important;
}

.contact{
    background-color: var(--deep-red);
}

.contact{
    color:var(--off-white);
}