:root{
    --turquoise: #37c497;
    --off-white: #fffbf2;
}

html,
body{
    height: 100%;
    width:100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--off-white);

}

.page-header{
    margin-top: 4.5rem;
    font-size: 1.25rem;
    min-height:92%;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
}

.cont-header{
    height:100%;
}

.img-header{
    height:225px;
    width: auto;
    object-fit:cover;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.navbar{
    background: var(--turquoise);
}

.navbar-text{
    color: var(--off-white) !important;
}

.custom-navlink{
    color: var(--off-white) !important;
    /* color:blue !important; */
}

navbar-brand > h1{
    margin-bottom:0;
    padding-bottom:0;
}

#my-brand{
    align-items: center;
    color:var(--off-white) !important;
}

.custom-card{
    border-color: var(--turquoise) !important;
}

.custom-card > .card-body{
    background-color: var(--off-white);
    border-color: var(--turquoise) !important;
}

.custom-card div h5{
    border-color: var(--turquoise) !important;
}

.contact{
    background-color: var(--turquoise);
    color:var(--off-white);
    width:100%
}

.contact-icon{
    /* font-size: 4em;  */
    color: var(--off-white);
}
.contact-icon .fab, .custom-icon a:visited .fab{
    color: var(--off-white);
}

.contact-icon .fab:hover, .custom-icon .fab:focus {
    color: var(--off-white);
}